@font-face {
  font-family: "iconfont"; /* Project id 4677519 */
  src: url('iconfont.woff2?t=1725845140158') format('woff2'),
       url('iconfont.woff?t=1725845140158') format('woff'),
       url('iconfont.ttf?t=1725845140158') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuedu:before {
  content: "\e639";
}

.icon-fensiguanli:before {
  content: "\e663";
}

.icon-shouyiqingkuang:before {
  content: "\e608";
}

.icon-yonghuquguan:before {
  content: "\e892";
}

.icon-bg-quit:before {
  content: "\e647";
}

.icon-shoucang:before {
  content: "\e604";
}

.icon-zhuanfa:before {
  content: "\e61e";
}

.icon-dianzan:before {
  content: "\e621";
}

.icon-zhifeiji:before {
  content: "\e8d0";
}

