@mixin primary_danger_color {
  background-color: theme('colors.danger') !important;
  color: theme('colors.white') !important;
}

@mixin primary_btn_success_color {
  background-color: theme('colors.success') !important;
  color: theme('colors.white') !important;
}

@mixin primary_btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: 0.4s;
}


.primary-danger-btn {
  @include primary_danger_color;
  @include primary_btn;
}

.primary-success-btn {
  @include primary_btn_success_color;
  @include primary_btn;
}

.primary_success_tag {
  @include primary_btn_success_color
}

.primary_danger_tag {
  @include primary_danger_color
}
